<div class="spacer"> </div>


<div class="centered">
    <a href="https://www.patreon.com/bePatron?u=11123241" target="new"><img class="buttonImage animated bounceIn" src="{{site.assets}}/images/become_a_patron_button@2x.png"/></a></br></br>
    <script src="https://liberapay.com/KrilleChritzelius/widgets/button.js"></script>
    <noscript><a href="https://liberapay.com/KrilleChritzelius/donate"><img alt="Donate using Liberapay" src="https://liberapay.com/{{site.assets}}/widgets/donate.svg"></a></noscript>
</div>

<div class="spacer"> </div>

<div class="container">

<div id="footer">
    Languages available: (
    {% for language in site.languages %}
    {% if language != "template" %}
    <a href="../{{language}}">{{language}}</a>
    {% endif %}
    {% endfor %}
    )
    <br/>
    <a href="https://github.com/ChristianPauly/fluffychat/blob/master/LICENSE" target="new">{% translate index.license %}</a> -
    <a href="https://github.com/ChristianPauly/fluffychat/blob/master/CHANGELOG.md" target="new">{% translate index.changelog %}</a> -
    <a href="https://hosted.weblate.org/projects/fluffychat/" target="new">{% translate index.translations %}</a> -
    <a href="https://github.com/ChristianPauly" target="new">{% translate index.created %}</a> -
    <a href="https://github.com/ChristianPauly/fluffychat/blob/master/PRIVACYPOLICY.md" target="new">{% translate index.privacypolicy %}</a> -
    <a href="https://github.com/ChristianPauly/fluffychat/graphs/contributors" target="new">{% translate index.contributors %}</a> -
    <a href="https://github.com/ChristianPauly/fluffychat#special-thanks-to" target="new">{% translate index.specialthanksto %}</a> -
    <a href="https://ubports.com" target="new">{% translate index.ubports %}</a>
</div>

</div>
