<div class="container" id="headerContainer">
    <div class="header">
        <div class="left_side">
            <a class="header_button" href="index.html"><img src="{{site.assets}}/images/favicon.png"></a>
        </div>
        <div class="right_side">
            <nav id="header_main_nav">
                <a href="faq.html" >{% translate links.faq %}</a>
                <a href="https://matrix.to/#/%23fluffychat:matrix.org"  target="new" >{% translate links.community %}</a>
                <a href="https://github.com/ChristianPauly/fluffychat"  target="new" >{% translate links.github %}</a>
                <a href="https://www.patreon.com/krillechritzelius/posts"  target="new" >{% translate links.blog %}</a>
                <a class="header_button" rel="me" href="https://metalhead.club/@krille" target="new"><img src="{{site.assets}}/images/mastodon.png"></a>
            </nav>
            <a id="header_toggle_mobile" class="header_button"><img src="{{site.assets}}/images/menu.svg"></a>
        </div>
    </div>
</div>
