<html lang="en">
<head>
    <script>
        var languages = new Array();
        {% for language in site.languages %}
        languages.push("{{language}}");
        {% endfor %}
        var splittedUrl = document.documentURI.split("/");
        var currentLanguage = splittedUrl[3];
        if ( currentLanguage === "" ) {
        	if ( languages.indexOf(navigator.language) !== -1 ) {
        		window.location.href = "/" + navigator.language + "/" + splittedUrl[3];
        	}
        }
    </script>
    {% include head.html %}
</head>
<body>
    {% include navigation.html %}

    <div id="content">
        {% if page.url == "/" %}<img src="../assets/images/banner.png" id="banner" />{% endif %}

        <div class="container">
            {{ content }}
        </div>
    </div>

    {% include footer.html %}
</body>
</html>
