<html lang="en">
<head>
    <script>
    var languages = new Array();
    {% for language in site.languages %}
    languages.push("{{language}}");
    {% endfor %}
    var splittedUrl = document.documentURI.split("/");
    var currentLanguage = splittedUrl[splittedUrl.length-2];
    if ( languages.indexOf(splittedUrl[splittedUrl.length-2]) === -1 && languages.indexOf(navigator.language) !== -1 ) {
        window.location.href += navigator.language;
    }
    </script>
    {% include head.html %}
</head>
<body>
    {% include navigation.html %}

    <div id="content">
        {% if page.url == "/" %}<img src="{{site.assets}}/images/banner.png" id="banner" />{% endif %}

        <div class="container">
            {{ content }}
        </div>
    </div>

    {% include footer.html %}
</body>
</html>
